.container {
  align-items: center;
  min-height: 100vh;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 400px;
  padding: 2rem 0;
}

.mainSub {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logo {
  margin-bottom: 1em;
  max-width: 33%;
}

.small {
  color: #444;
  font-size: 0.67em;
}